<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/ct-home">CT Main Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/caretaker-profile">CT Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/caretaker-jobs">CT Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/caretaker-petCategory">CT Pet Category</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/caretaker-ft-leaves">CT FT Leaves</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/caretaker-pt-availability">CT PT Availability</a>
    </li>
  </ul>
</nav>
<br />
