<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/navbar'); %>
		<main>
			<div class="jumbotron bg-white">
				<h1 class="display-4">About Us</h1>
				<br />
				<p class="lead">
					Ever had to leave your pet alone at home? Ever fear that something bad might
					happen to them? Ever find it difficult to find a good caretaker for your pet?
					<br />
					Not anymore.
					<br /><br />
					Pet Caring Service makes it very easy to find a perfect caretaker for your pet!
				</p>
			</div>
		</main>
	</body>
</html>
