<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/stylesheets/profile.css" />
	<%- include('./partials/head'); %>
</head>

<body>
	<%- include('./partials/navbar'); %>
	<main>
		<div class="container rounded bg-white pl-5 pr-5 pt-3 pb-3">
			<h1>Confirm bidding for <%= details[0].username %></h1>
		</div>
	</main>
</body>

</html>