<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/navbar'); %>
		<main>
			<div class="jumbotron bg-white">
				<h1 class="display-4">Caretaker Home Page</h1>
				<br />
				<p class="lead">
					This is the caretaker home page
				</p>
				<a class="btn btn-primary btn-lg" style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28);"
				href="/caretaker-profile" role="button">
				View Caretaker Profile
			</a>
			</div>
		</main>
	</body>
</html>