<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>
	<body>
		<%- include('./partials/navbar'); %>
		<main>
			<div class="jumbotron bg-white">
				<h1 class="display-4">Caretaker Home Page</h1>
				<br />
				<p class="lead">
					This is the caretaker home page
				</p>
			</div>
		</main>
	</body>
</html>