<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Modifying Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
		<script src="javascripts/insertScript.js"></script>
  </head>
  <body>
    <h1>CS2102: <%= title%></h1>
		<form id="html_form" action="insert" role="form" method="post">
			<div class="form-group">
				<label for="matric">Matric Number</label>
				<input type="text" class="form-control" id="matric" name="matric" aria-describedby="matricHelp" placeholder="Enter your matric number">
				<small id="matricHelp" class="form-text text-muted">Do not share your matric number with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
			</div>
			<div class="form-group">
				<label for="faculty">Faculty</label>
				<input type="text" class="form-control" id="faculty" name="faculty" placeholder="Enter your faculty">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<script>
			(function() {
				window.addEventListener('load', function() {
					var forms = [document.getElementById('html_form')];
					var validation = Array.prototype.filter.call(forms, function(form) {
						form.addEventListener('submit', check, false);
					});
				}, false);
			})();
		</script>
  </body>
</html>
