body {
	padding: 50px;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji" !important;
	font-size: 1rem;
	font-weight: 400;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dogbg.png");
	background-size: cover;
	background-blend-mode: darken;
}

.text-white-800 {
	color: #ffffff !important;
}

.text-xs {
	font-size: 0.8rem;
}

.text-lg {
	font-size: 1.2rem;
}

.scroll-to-top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
	width: 2.75rem;
	height: 2.75rem;
	text-align: center;
	color: #fff;
	background: rgba(90, 92, 105, 0.5);
	line-height: 46px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
	color: white;
}

.scroll-to-top:hover {
	background: #5a5c69;
}

.scroll-to-top i {
	font-weight: 800;
}

.chart-area {
	position: relative;
	margin: auto;
	height: 45vh;
	width: 55vw;
}

#performance {
	height: 50vh;
}

.fa-dog {
	font-size: 6vw;
	color: #8f919e;
}

a:hover {
	text-decoration: none !important;
	transition-duration: 0.4s !important;
}

.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before, 
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
  height: calc(50% - 1rem);    
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}

.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}




/* just to set different column heights - not needed to function */          
.column-one {
  height: 300px; 
  background-color: #EBFFF9;
}
.column-two {
  height: 400px;
  background-color: #F7F3FF;
}